<header class="header">
	<div style="display:inline-flex; margin-bottom:0px">
		<a href="/index" style="margin:0px">
			<img src="../../assets/images/Beverbox Logo (thin).png" class="logo">
		</a>
			<h1 style="margin-bottom:0px">Beverbox Customer App</h1>
		
	</div>
	
	<aside id="loginbox" class="loginbox">		
	
		<div *ngIf="sessionService.getIsLogin() == false">
			<label for="email">Email </label>
			<input type="text" [(ngModel)]="email" size="16" required maxlength="32" />
			&nbsp;
			<label for="password">Password </label>
			<input type="password" [(ngModel)]="password" size="16" required maxlength="32" />
			&nbsp;
			<input type="reset" value="Clear" />
			&nbsp;
			<input type="button" (click)="customerLogin()" value="Login" />					
		</div>
		
		<div *ngIf="loginError == true" style="text-align: right; color: red;">
			{{errorMessage}}
		</div>
		
		<div *ngIf="sessionService.getIsLogin() == true" style="display:inline-flex; align-items:center; margin-top:0px;">
			<a href="/viewMyProfile">
				<img src="../../assets/images/profilepic.png" style="width:50px; margin-right: 10px;" />
			</a>
			You are logged in as {{sessionService.getCurrentCustomer().customerEmail}}
			<input type="button" (click)="customerLogout()" value="Logout" style="margin-left: 10px;"/>
		</div>
	</aside>
</header>