<header class="header">
	<div style="display:inline-flex; margin-bottom:0px">
		<a href="/index" style="margin:0px">
			<img src="../../assets/images/Beverbox Logo (thin).png" class="logo">
		</a>
			<h1 style="margin-bottom:0px">Beverbox Customer App</h1>
		
	</div>
	
	<aside id="loginbox" class="loginbox">		
	
		<div *ngIf="sessionService.getIsLogin() == false">
			<input type="text" pInputText placeholder="email" [(ngModel)]="email" size="16" required maxlength="32" />
			&nbsp;
			<input type="password" pInputText placeholder="password" [(ngModel)]="password" size="16" required maxlength="32" />
			&nbsp;
			<button pButton type="button" label="Clear" (click)="reset()"></button>
			&nbsp;
			<button pButton type="button" label="Log In" (click)="customerLogin()"></button>					
		</div>
		
		<p-toast position="top-left"></p-toast>
		
		<div class="theInfo" *ngIf="sessionService.getIsLogin() == true" style="display:inline-flex; align-items:center; margin-top:0px;">
			<a href="/viewMyProfile">
				<img src="../../assets/images/profilepic.png" style="width:50px; margin-right: 10px;" />
			</a>
			You are logged in as {{sessionService.getCurrentCustomer().customerEmail}}
			<button pButton type="button" label="Log Out" (click)="customerLogout()" style="margin-left: 10px;"></button>
		</div>
	</aside>
</header>