<app-header></app-header>
		
<app-main-menu></app-main-menu>

<section id="content" class="content">

    <p-table #dt [value]="promotions" dataKey="id" styleClass="ui-table-customers" [rowHover]="true"
            [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0" [globalFilterFields]="['promoName','promoType','promoCode']">
            <ng-template pTemplate="caption">
                <h2>All Promotions</h2>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="promoId"> Id <p-sortIcon field="promoId"></p-sortIcon></th>
                    <th pSortableColumn="promoName"> Name <p-sortIcon field="promoName"></p-sortIcon></th>
                    <th pSortableColumn="promoType"> Type <p-sortIcon field="promoType"></p-sortIcon></th>
                    <th pSortableColumn="promoPercentage"> Percentage <p-sortIcon field="promoPercentage"></p-sortIcon></th>
                    <th pSortableColumn="promoCode"> Code <p-sortIcon field="promoCode"></p-sortIcon></th>
                </tr>
                <tr>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'promoId', 'contains')" placeholder="Search by Id" class="ui-column-filter">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'promoName', 'contains')" placeholder="Search by name" class="ui-column-filter">
                    </th>
                    <th>
                        <select [(ngModel)]="selectedType" (change)="valueSelected()" >
                            <option *ngFor="let item of types">{{ item }}</option>
                        </select>
                    </th>
                    <th>
                        <input pInputText type="text" (input)="onActivityChange($event)" placeholder="Minimum" class="ui-column-filter" >
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'promoCode', 'contains')" placeholder="Search by Code" class="ui-column-filter">
                    </th>
               </tr>
            </ng-template>
            <ng-template pTemplate="body" let-promotion>
                <tr class="ui-selectable-row">
                    <td>
                        {{promotion.promoId}}
                    </td>
                    <td>
                        {{promotion.promoName}}
                    </td>
                    <td>
                        {{promotion.promoType}}
                    </td>
                    <td>
                        {{promotion.promoPercentage}} %
                    </td>
                    <td>
                        {{promotion.promoCode}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" style="text-align:left">No such promotions found.</td>
                </tr>
            </ng-template>
        </p-table>



</section>

<app-footer></app-footer>
