<app-header></app-header>

<app-main-menu></app-main-menu>

<section id="content" class="content">

    <div *ngFor="let option of options" class="block-div">
        <p-card header={{option.name}} subheader={{option.description}} class="cardStyle" styleClass="ui-card-shadow">
            <p-header>
                <img src="Card" src="assets/images/drink1.jpg">
            </p-header>
            <div>
                Duration: {{option.duration}}<br>
                Price: ${{option.price}}<br>
                Type: {{option.type}}
            </div>
            <p-footer>
                <button type="button" (click)="createSub(option.optionId)" pButton label="Subscribe"></button>            
            </p-footer>
        </p-card>
        </div>
</section>

<app-sidebar></app-sidebar>
<app-footer></app-footer>
