
<app-header></app-header>
		
<app-main-menu></app-main-menu>		

<section id="content" class="content">


   <br/><br/>

    <p-panel header="All Boxes">

        <p-carousel [value]="boxes" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
            <p-header>
                <h3>Boxes</h3>
            </p-header>
            <ng-template let-box pTemplate="box">
                
                <div class="box-details">   
                    <div class="p-grid p-nogutter">
                        <div class="p-col-12 car-data">
                            <div class="p-col-12">
                                <img src="assets/images/{{box.boxId}}.png" />
                            </div>
                            Name: <div class="box-title">{{box.boxName}}</div><br>
                            Description: <div class="box-subtitle">{{box.boxDesc}}</div><br>
                            Origin: 
                            <div class="box-subtitle">{{box.boxOrigin}}</div>
                <ul style="list-style-type:none;">
                    <h3> Beverages</h3>   
                    <li *ngFor="let beverage of box.beverages">{{beverage.beverageName}}</li>
                </ul>
                <p-button label="View" (onClick)="showDialog(box)"></p-button>
                
            </div>
            </div>       
            </div>    
            </ng-template>
        </p-carousel>
		
		
            <p-dialog *ngIf="display" header="View Reviews" modal="true" [(visible)]="display"  [style]="{width: '50vw'}">
                <p-messages [(value)]="msgs"></p-messages>

                <div *ngFor="let review of boxToView.reviews">
                    {{review.customer.customerName}}
                    <div *ngFor="let i of createList(review.reviewRating)" style="display: inline-block; color:gold">
                        <i class="pi pi-star"></i>
                    </div> <br />
                    {{review.reviewContent}} 
                    <br /><br />
                </div>

                <!--<p-table [value]="boxToView.reviews">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Reviewer Name</th>
                            <th>Review</th>                           
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-review>
                        <tr>
                            <td>{{review.customer.customerName}}</td>
                            <td>{{review.reviewContent}}</td>				
                            
                    </ng-template>
                </p-table>-->
				<br />
                
                <div>
                    Rate this box: <p-rating [(ngModel)]="newReviewRating" [cancel]="false"></p-rating>
                </div>
				<textarea [rows]="1" [cols]="30" style="width: 80%;" autoResize="autoResize" pInputTextarea [(ngModel)]="newReview.reviewContent" placeholder="Leave a review"></textarea>
				&nbsp;
				<button pButton type="button" style="float: right;" label="Submit" (click)="createReview()"></button>
			</p-dialog>
		
    </p-panel>

</section>

<app-sidebar></app-sidebar>

<app-footer></app-footer>