
<app-header></app-header>
		
<app-main-menu></app-main-menu>		

<section id="content" class="content">


   <br/><br/>

    <p-panel header="All Boxes">

        <p-carousel [value]="boxes" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
            <p-header>
                <h3>Boxes</h3>
            </p-header>
            <ng-template let-box pTemplate="box">
                <div class="p-col-12">
                    <img src="assets/images/{{box.boxName}}.png" />
                </div>
                <div class="car-details">   
                    <div class="p-grid p-nogutter">
                        <div class="p-col-12 car-data">
                            Name: <div class="car-title">{{box.boxName}}</div><br>
                            Description: <div class="car-subtitle">{{box.boxDesc}}</div><br>
                            Origin: 
                            <div class="car-subtitle">{{box.boxOrigin}}</div>
                <ul style="margin-left: 20px;">
                    <h3> Beverages</h3>   
                    <li *ngFor="let beverage of box.beverages">{{beverage.beverageName}}</li>
                </ul>
            </div>
            </div>       
            </div>    
            </ng-template>
        </p-carousel>

    </p-panel>

</section>



<app-footer></app-footer>