<app-header></app-header>
		
<app-main-menu></app-main-menu>

<section id="content" class="content">

	<p-breadcrumb [model]="items"></p-breadcrumb>

	<br/>

	<p-messages [(value)]="msgs"></p-messages>

		<div *ngFor="let review of reviews">
		<p-panel header="Review #{{review.reviewId}}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
			<div class="boxDetails">Box ID #{{review.boxId}} {{review.boxName}}</div>
			<div style="float: right;">{{parseDate(review.reviewDate) | date:'d MMM y, HH:mm'}}</div>
			<div class="reviewStyle">{{review.reviewContent}}</div>
			<div style="margin-left:5px;">
			<div *ngFor="let i of createList(review.reviewRating)" class="rating">
				<i class="pi pi-star"></i>
			</div>
			</div>
			<p-footer>
				<button pButton type="button" icon="pi pi-trash" (click)="deleteReview(review.reviewId)" label="Delete Review" class="ui-button-danger"></button>
			</p-footer>
		</p-panel>
		</div>

</section>

<app-sidebar></app-sidebar>
<app-footer></app-footer>
