<app-header></app-header>
		
<app-main-menu></app-main-menu>		

<section id="content" class="content">

    <p-panel header="Beverage of the Week">
        <div *ngIf="resultSuccess == true" style="color:blue;">
            {{message}}
        </div>
        
        <div *ngIf="resultError == true" style="color:red;">
            {{message}}
        </div>
        <p-card [style]="{width: '100%'}" >
   
                    <div class="beverage-details">   
                        <div class="p-grid p-nogutter">
                            <div class="p-col-12 option-data">
                                <div class="p-col-12">
                                    <img src="assets/images/{{beverage.beverageId}}.png" />
                                </div>
                                <div class="beverage-title">{{beverage.beverageName}}</div><br>
                                Description: <div class="beverage-subtitle">{{beverage.beverageDesc}}</div><br>
                                Country: 
                                <div class="beverage-subtitle">{{beverage.country}}</div>
                                <p-button label="Buy now!" (onClick)="showDialog(beverage)"></p-button>
                    
                            </div>
                        </div>       
                    </div>    





            <p-dialog *ngIf="display" header="Buy Beverage of the Week" modal="true" [(visible)]="display"  [style]="{width: '50vw'}">
                <form #buyBevForm="ngForm" (ngSubmit)="create(buyBevForm)">
                    <table width="100%">
                        <tr>
                        <td width="20%" style="font-weight: bold;background-color: #f4f4f4;">Beverage Name</td>
                            <td>{{beverageToBuy.beverageName}}</td>
                            
                        </tr>
                        <tr>
                            <td width="20%" style="font-weight: bold;background-color: #f4f4f4;">Max Purchase</td>
                            <td>{{beverageToBuy.maxPurchase}}</td>
                        </tr>
                        <tr>
                            <td width="20%" style="font-weight: bold;background-color: #f4f4f4;">Quantity To Purchase</td>
                            <td> <input id="qty" name="qty" #qty="ngModel" type="number" max="{{beverageToBuy.maxPurchase}}" [(ngModel)]="newBevTransaction.qty" required="true" /></td>
                             
                                <div *ngIf="qty.invalid && (qty.dirty || qty.touched || submitted)" class="errorText">
                                        <div *ngIf="qty.errors.required">
                                            Qty is required.
                                        </div>
                                </div>
                                
                            
                        </tr>

                        <tr>
                            <td width="20%" style="font-weight: bold;background-color: #f4f4f4;">Promo Code</td>
                            <td> <input id="promoCode" name="promoCode" #promoCod="ngModel" type="text" [(ngModel)]="promoCode"/></td>
                             
                                <div *ngIf="promoCod.invalid && (promoCod.dirty || promoCod.touched || submitted)" class="errorText">
                                        <div *ngIf="promoCod.errors">
                                            something is wrong here
                                        </div>
                                </div>
                        </tr>
                        <tr>
                            <td width="20%" style="font-weight: bold;background-color: #f4f4f4;">My Cashback</td>
                            <td>
                                {{parseCashback(getCashback())}}
                            </td>
                        </tr>
                        <tr>
                            <td width="20%" style="font-weight: bold;background-color: #f4f4f4;">Use your existing Logs Cashback to pay less?</td>
                            <td> <p-inputSwitch id="cashback" name="cashback" #cashbac="ngModel" [(ngModel)]="cashback"></p-inputSwitch> </td>
                             
                                <div *ngIf="cashbac.invalid && (cashbac.dirty || cashbac.touched || submitted)" class="errorText">
                                        <div *ngIf="cashbac.errors">
                                           something is wrong here
                                        </div>
                                </div>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <button pButton type="reset" style="float: left; margin-right:10px;" class="ui-button-rounded ui-button-secondary" label="Clear"></button>
                                &nbsp; 
                                <button pButton type="submit" class="ui-button-rounded ui-button-secondary" style="float: left;" label="Buy"></button>
                            </td>

                        </tr>

                    </table>
                </form>  
            </p-dialog>
        </p-card>

    </p-panel>



</section>


<app-sidebar></app-sidebar>
<app-footer></app-footer>