<section id="mainmenu" class="mainmenu">
<!--<h3>Main Menu</h3>-->
<nav>
	<br/>
	<!--<a routerLink="/index">Home</a>
	
	<ng-template [ngIf]="sessionService.getIsLogin() == false">
		<br/><br/>
		<a class="logoutlink">Logout</a>
		<br/><br/>
		<h4 class="menuHeader1">Menu Header 1</h4>				
		<ul class="secondaryMenu">
			<li><a routerLink="/index">Secondary Menu</a></li>
			<li><a routerLink="/index">Secondary Menu</a></li>
			<li><a routerLink="/index">Secondary Menu</a></li>
		</ul>
		<br/>
		<h4 class="menuHeader1">Menu Header 1</h4>
		<h5 class="menuHeader2">Menu Header 2</h5>
		<ul class="secondaryMenu">
			<li><a routerLink="/index">s Menu</a></li>			
			<li><a routerLink="/index">s Menu</a></li>
		</ul>
		<h5 class="menuHeader2">menuHeader2</h5>
		<ul class="secondaryMenu">
			<li><a routerLink="/index">index</a></li>
			<li><a routerLink="/index">index</a></li>
			<li><a routerLink="/index">index</a></li>
		</ul>
		<br/><br/>
	</ng-template>-->
	<p-menu [model]="items"></p-menu>
</nav>
</section>