<app-header></app-header>
		
<app-main-menu></app-main-menu>		

<section id="content" class="content">

	<app-breadcrumb [pageName]="'BevTransaction'"></app-breadcrumb>

	<br/><br/>
			
	<p-panel header="Your beverage transaction history">
	
		<p-table [value]="bevTrans">
			<ng-template pTemplate="header">
				<tr>
					<th>Transaction Id</th>
					<th>Beverage Name</th>
					<th>Quantity</th>
					<th>Cost</th>
					<th>Date</th>
					<th>CC Number</th>                
    			</tr>
			</ng-template>
			<ng-template pTemplate="body" let-bevTran>
				<tr>
					<td>{{bevTran.transId}}</td>
					<td>{{bevTran.bevName}}</td>				
					<td class="cellnumber">{{bevTran.qty}}</td>
					<td class="cellnumber">{{bevTran.transAmt | currency}}</td>
					<td>{{bevTran.transDate}}</td>
					<td>{{bevTran.ccNum}}</td>
                </tr>
			</ng-template>
		</p-table>
		
		
	
	</p-panel>
</section>

<app-footer></app-footer>