<app-header></app-header>
		
<app-main-menu></app-main-menu>		

<section id="content" class="content">

	<br/>

		
	<p-panel header="Your Beverage Purchase History">
		<p-table [value]="bevTrans">
			<ng-template pTemplate="header">
				<tr>
					<th class="headerCol">Transaction Id</th>
					<th class="headerCol">Beverage Name</th>
					<th class="headerCol">Quantity</th>
					<th class="headerCol">Cost</th>
					<th class="headerCol">Date</th>
					<!-- <th>CC Number</th>                 -->
    			</tr>
			</ng-template>
			<ng-template pTemplate="body" let-bevTran>
				<tr>
					<td class="column">{{bevTran.transId}}</td>
					<td class="column">{{bevTran.bevName}}</td>				
					<td class="column">{{bevTran.qty}}</td>
					<td class="column">{{bevTran.transAmt | currency}}</td>
					<td class="column">{{parseDate(bevTran.transDate)}}</td>
					<!-- <td>{{bevTran.ccNum}}</td> -->
                </tr>
			</ng-template>
		</p-table>
	
		<div *ngIf="empty">
			<br />
			You have no beverage transaction history. <br /><br />
			Purchase our beverage of the week <a href="/viewBeverage">here</a>!
		</div>
	</p-panel>
</section>

<app-sidebar></app-sidebar>

<app-footer></app-footer>