<app-header></app-header>
		
<app-main-menu></app-main-menu>		

<section id="content" class="content">

	<br/>
	
		<p-table [value]="bevTrans">
			<ng-template pTemplate="header">
				<tr>
					<th>Transaction Id</th>
					<th>Beverage Name</th>
					<th>Quantity</th>
					<th>Cost</th>
					<th>Date</th>
					<!-- <th>CC Number</th>                 -->
    			</tr>
			</ng-template>
			<ng-template pTemplate="body" let-bevTran>
				<tr>
					<td class="column">{{bevTran.transId}}</td>
					<td class="column">{{bevTran.bevName}}</td>				
					<td class="column">{{bevTran.qty}}</td>
					<td class="column">{{bevTran.transAmt | currency}}</td>
					<td class="column">{{parseDate(bevTran.transDate)}}</td>
					<!-- <td>{{bevTran.ccNum}}</td> -->
                </tr>
			</ng-template>
		</p-table>
</section>

<app-sidebar></app-sidebar>

<app-footer></app-footer>