<app-header></app-header>
<app-main-menu></app-main-menu>
<section id="content" class="content">

	<app-breadcrumb></app-breadcrumb>
			
	<article *ngIf="sessionService.getIsLogin() == false">
		<h3>Welcome Beaveys! :D</h3>
		
		<p>
			This is the landing page for the application! Please sign up or log in to access more feature :D
		</p>
	</article>	

	<article *ngIf="sessionService.getIsLogin() == true">
		<h3>Welcome Beaveys! :D</h3>
		
		<p>
			Log in is successful!
		</p>

		<!-- <p-gmap #gmap [style]="{'width':'100%','height':'320px', 'margin-bottom': '1em'}" [options]="options" [overlays]="overlays"
       (onMapClick)="handleMapClick($event)" (onOverlayClick)="handleOverlayClick($event)" (onOverlayDragEnd)="handleDragEnd($event)"></p-gmap> -->

	</article>
	
</section>

<app-sidebar></app-sidebar>
<app-footer></app-footer>