<app-header></app-header>
<app-main-menu></app-main-menu>
<section id="content" class="content">
			
	<p-panel header="Home">
	<p style="font-weight: bold;">"Beverages from around the world, now at your doorstep" has never been more easy!</p>
	<p-steps [model]="steps"></p-steps>
	
	<article *ngIf="sessionService.getIsLogin() == false">
		<p>
			Please complete Step 1 to kickstart your Beverbox journey :D
		</p>
		<app-create-account></app-create-account>
	</article>	

	<article *ngIf="sessionService.getIsLogin() == true">
		<h3>Welcome Beaveys! :D</h3>
		<p>
			Log in is successful! You are 1 step closer to your Beverbox journey. <br/>
			Do <b>browse our selection of products</b> on the main menu on the left! <br/>
			OR <b>check out your profile page</b>, by clicking on the person icon in the header!
		</p>
	</article>
	</p-panel>
</section>

<app-sidebar></app-sidebar>
<app-footer></app-footer>