<app-header></app-header>
		
<app-main-menu></app-main-menu>		

<section id="content" class="content">

	<app-breadcrumb [pageName]="'createNewSubscription'"></app-breadcrumb>

	<br>
	<p-panel header="Create Your New Subscription">
		<div *ngIf="resultSuccess == true" style="color:blue;">
			{{message}}
		</div>
		
		<div *ngIf="resultError == true" style="color:red;">
			{{message}}
		</div>
		
		<article>
			<p>This is where the selected option details will be shown and hooked up through routing</p>
		</article>

    <form #createSubscriptionForm="ngForm" (ngSubmit)="create(createSubscriptionForm)" >
	
	
		<!-- Change the table to some other UI instead. Only need the inputs of 
		PromoCode, Cashback usage, and sharing option -->
			<h4>Enter Promotion Code to accumulate your Logs Cashback!</h4>
			<label for="promoCode">Promo Code: </label>
			<input name="promoCode" type="text" [(ngModel)]="promoCode" size="32"/> <br><br>
			
			<h4>You have an existing Logs Cashback of ${{currentLogs}}. Use it?</h4>
			<p-inputSwitch name="cashback" [(ngModel)]="cashback"></p-inputSwitch><br><br>
			
			<button (click)="clear()">Clear</button>
			&nbsp;
			<input type="submit" value="Create New Subscription" />
		
			<!-- <table width="100%">
			 			
			<tr>
				<td width="20%" style="font-weight: bold;">Promo Code</td>
				<td><input id="promoCodeInput" name="promoCodeInput" #promoCodeInput="ngModel" type="text" [(ngModel)]="promoCode" /></td>
			</tr>

			<tr>
				<td colspan="3" style="text-align: center;">
					<button (click)="clear()">Clear</button>
					&nbsp;
					<input type="submit" value="Create New Subscription" />
				</td>
			</tr>
			
		</table>  -->
		
	</form>

	</p-panel>
	
</section>

<app-footer></app-footer>