<app-header></app-header>
		
<app-main-menu></app-main-menu>		

<section id="content" class="content">

	<app-breadcrumb [pageName]="'createNewSubscription'"></app-breadcrumb>

	<br>
	<p-panel header="Create Your New Subscription">
		<div *ngIf="resultSuccess == true" style="color:blue;">
			{{message}}
		</div>
		
		<div *ngIf="resultError == true" style="color:red;">
			{{message}}
		</div>

    <form #createSubscriptionForm="ngForm" (ngSubmit)="create(createSubscriptionForm)" >
			<!-- <p-card header={{option1.name}} subheader={{option1.description}} class="cardStyle" styleClass="ui-card-shadow">
				<p-header>
					<img src="Card" src="assets/images/drink1.jpg">
				</p-header>
				<div>
					Duration: {{option1.duration}}<br>
					Price: ${{option1.price}}<br>
					Type: {{option1.type}}
					<div *ngIf="option1.sharing == true">THIS IS THE SHARING OPTION: You get more beverages for less price!</div>
				</div>
				<p-footer>
					<button type="button" pButton label="This one"></button>            
				</p-footer>
			</p-card> -->
	
		<!-- Change the table to some other UI instead. Only need the inputs of 
		PromoCode, Cashback usage, and sharing option -->
			<h4>Enter Promotion Code to accumulate your Logs Cashback!</h4>
			<label for="promoCode">Promo Code: </label>
			<input name="promoCode" type="text" [(ngModel)]="promoCode" size="32"/> <br><br>
			
			<h4>You have an existing Logs Cashback of ${{currentLogs}}. not updating tho Use it?</h4>
			<p-inputSwitch name="cashback" [(ngModel)]="cashback"></p-inputSwitch><br><br>
			
			<button (click)="clear()">Clear</button>
			&nbsp;
			<input type="submit" value="Create New Subscription" />
		
		
	</form>

	</p-panel>
	
</section>

<app-footer></app-footer>