<app-header></app-header>
		
<app-main-menu></app-main-menu>

<section id="content" class="content">

    <p-breadcrumb [model]="items"></p-breadcrumb>

    <br/>

    <div *ngIf="resultError == true" style="color:red;">
        {{message}}
    </div>

    <p-panel header="Your Existing Subscriptions">
        <p-table [value]="subscriptions">
            <ng-template pTemplate = "header">
                <tr>
                    <th>Subscription ID</th>
                    <th>Subscription Name</th>
                    <th>Sharing Option</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate = "body" let-subscription>
                <tr>
                    <td>{{subscription.subscriptionId}}</td>
                    <td>{{subscription.name}}</td>
                    <td>{{subscription.sharing}}</td>
                    <td>{{parseDate(subscription.startDate)}}</td>
                    <td>{{parseDate(subscription.endDate)}}</td>
                    <td><div *ngIf="checkRenewable(subscription.endDate) == true">
                        <button pButton type="button" icon="pi pi-plus" (click)="renewSubscription(subscription.name)" label="Renew"></button>
                    </div></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6" style="text-align:left">No existing subscriptions found.</td>
                </tr>
            </ng-template>
        </p-table>


    </p-panel>
    <br/><br/>

        <p-table #dt [value]="subTransactions" dataKey="id" styleClass="ui-table-customers" [rowHover]="true"
            [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0" [globalFilterFields]="['ccNum','transAmt','transId','subsId','monthDuration']">
            <ng-template pTemplate="caption">
                My Subscription History
                
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="subsId" class="idColumn">Subs Id <p-sortIcon field="subsId"></p-sortIcon></th>
                    <th pSortableColumn="transId" class="idColumn">Trans Id <p-sortIcon field="transId"></p-sortIcon></th>
                    <th pSortableColumn="ccNum">CC Number <p-sortIcon field="ccNum"></p-sortIcon></th>
                    <th pSortableColumn="transDate">Trans Date <p-sortIcon field="transDate"></p-sortIcon></th>
                    <th pSortableColumn="startDate">Start Date <p-sortIcon field="startDate"></p-sortIcon></th>
                    <th pSortableColumn="endDate">End Date <p-sortIcon field="endDate"></p-sortIcon></th>
                    <th pSortableColumn="transAmt" class="cost">Cost <p-sortIcon field="transAmt"></p-sortIcon></th>
                    <th pSortableColumn="monthDuration" class="duration">Duration (months) <p-sortIcon field="monthDuration"></p-sortIcon></th>
                </tr>
                <tr>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'subsId', 'contains')" placeholder="Search by Id" class="ui-column-filter">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'transId', 'contains')" placeholder="Search by Id" class="ui-column-filter">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'ccNum', 'contains')" placeholder="Search by CCNum" class="ui-column-filter">
                    </th>
                    <th>
                        <p-calendar [inputStyle]="{'width':'100%'}" styleClass="ui-column-calendar" (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'transDate', 'contains')" [showButtonBar]="true" class="date-input" placeholder="Trans Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
                    </th>
                    <th>
                        <p-calendar [inputStyle]="{'width':'100%'}" styleClass="ui-column-calendar" (onSelect)="onStartDateSelect($event)" (onClearClick)="dt.filter('', 'startDate', 'contains')" [showButtonBar]="true" class="date-input" placeholder="Start Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>                        
                    </th>
                    <th>
                        <p-calendar [inputStyle]="{'width':'100%'}" styleClass="ui-column-calendar" (onSelect)="onEndDateSelect($event)" (onClearClick)="dt.filter('', 'endDate', 'contains')" [showButtonBar]="true" class="date-input" placeholder="End Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
                    </th>
                    <th>
                        <input pInputText type="text" (input)="onActivityChange($event)" placeholder="Minimum" class="ui-column-filter" >
                    </th>
                    <th>
                        <input pInputText type="text" (input)="onDurationChange($event)" placeholder="Minimum" class="ui-column-filter" >
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-subTransaction>
                <tr class="ui-selectable-row">
                    <td>
                        {{subTransaction.subsId}}
                    </td>
                    <td>
                        {{subTransaction.transId}}
                    </td>
                    <td>
                        {{subTransaction.ccNum}}
                    </td>
                    <td>
                        {{parseDate(subTransaction.transDate)}}
                    </td>
                    <td>
                        {{parseDate(subTransaction.startDate)}}
                    </td>
                    <td>
                        {{parseDate(subTransaction.endDate)}}
                    </td>
                    <td>
                        {{subTransaction.transAmt|currency}}
                    </td>
                    <td>
                        {{subTransaction.monthDuration}} months
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" style="text-align:left">No subscriptions found.</td>
                </tr>
            </ng-template>
        </p-table>
      
</section>

<app-sidebar></app-sidebar>
<app-footer></app-footer>